<div class="q-quiz s-color-gray-4" id="{{ quizContainerId }}" style="opacity: 0;">
  <Header isMultiQuiz="{{isMultiQuiz}}" hasCover="{{hasCover}}" numberQuestions="{{numberQuestions}}"/>
  <div class="{{quizContainerClassAttribute}}" style="width:{{elementCount * 100}}%;">
    {{#if hasCover}}
      <div class="q-quiz-element-container q-quiz__cover s-color-primary-1 q-quiz-element-container--is-active" style="width: {{elementWidth}}%;">
        <h3 class="q-quiz__cover-title s-font-title">{{cover.title}}</h3>
        <button class="q-quiz-button">
          <div class="q-quiz-button__icon q-quiz-button__icon--large s-color-primary-6">
            <svg viewBox="0 0 28 28" xmlns="http://www.w3.org/2000/svg">
              <g fill="none" fill-rule="evenodd">
                <path fill="#FFF" d="M9.8 22.4l1.4 1.4L21 14l-9.8-9.8-1.4 1.4 8.4 8.4z"></path>
              </g>
            </svg>
          </div>
          <div class="s-font-note-s">Das Quiz starten</div>
        </button>
      </div>
    {{/if}}
    {{#each questions as question, index}}
      {{#if !isMultiQuiz || !hasCover && index === 0}}
        <div class="q-quiz-element-container q-quiz-element-container--is-active" style="width: {{elementWidth}}%;">
          <Question question="{{question}}" />
        </div>
      {{else}}
        <div class="q-quiz-element-container q-quiz-element-container--is-inactive" style="width: {{elementWidth}}%;">
          <Question question="{{question}}" />
        </div>
      {{/if}}
    {{/each}}
    {{#if hasLastCard}}
      <div class="q-quiz-element-container q-quiz__last-card s-color-primary-1 q-quiz-element-container--is-inactive" style="width: {{elementWidth}}%;">
        {{#if lastCard.title}}
          <h3 class="s-q-item__title">{{lastCard.title}}</h3>
        {{/if}}
        {{#if lastCard.text}}
          <p class="s-font-text-s">{{lastCard.text}}</p>
        {{/if}}
        <div class="q-quiz-article-recommendations"></div>
        {{#if lastCard.quizLink}}
          <a href="{{lastCard.quizLink}}" class="q-quiz-button">
            <div class="q-quiz-button__icon q-quiz-button__icon--large s-color-primary-6">
              <svg viewBox="0 0 28 28" xmlns="http://www.w3.org/2000/svg">
                <path d="M2.488 21.49A13.428 13.428 0 0 1 0 13.695C0 6.131 6.267 0 13.998 0c7.73 0 13.997 6.131 13.997 13.694 0 7.564-6.267 13.695-13.997 13.695-2.706 0-5.232-.751-7.373-2.051L1.383 28l1.105-6.51zm10.322-5.043c0-.771.096-1.385.287-1.842.192-.457.542-.908 1.052-1.35.509-.444.848-.805 1.017-1.083.169-.278.253-.571.253-.88 0-.93-.439-1.396-1.317-1.396-.416 0-.75.126-1 .376s-.382.596-.393 1.037h-2.448c.01-1.052.358-1.875 1.042-2.47.684-.595 1.617-.892 2.8-.892 1.192 0 2.118.282 2.777.847.659.564.988 1.361.988 2.391 0 .468-.107.91-.321 1.326-.214.415-.588.877-1.123 1.383l-.684.636c-.428.402-.672.873-.734 1.413l-.034.504H12.81zm-.244 2.535c0-.368.128-.673.384-.912.256-.24.584-.36.983-.36.4 0 .728.12.984.36s.384.544.384.912c0 .364-.125.664-.376.9-.25.238-.58.356-.992.356-.41 0-.741-.118-.992-.355a1.186 1.186 0 0 1-.375-.9z" fill="#FFF" fill-rule="evenodd"></path>
              </svg>
            </div>
            {{#if lastCard.quizTitle}}
              <div class="s-font-note-s">{{lastCard.quizTitle}}</div>
            {{/if}}
          </a>
        {{/if}}
      </div>
    {{/if}}
  </div>

</div>

<script>
  import Header from './Header.html';
  import Question from './Question.html';
  
  export default {
    computed: {
      elementCount: (item) => {
        return item.elementCount;
      },
      elementWidth: (elementCount) => {
        if (elementCount > 0) {
          return 100 / elementCount;
        }
        return 0;
      },
      cover: (item) => {
        return item.cover
      },
      hasCover: (item) => {
        return item.hasCover;
      },
      lastCard: (item) => {
        return item.lastCard
      },
      hasLastCard: (item) => {
        return item.hasLastCard;
      },
      questions: (item) => {
        return item.questions;
      },
      numberQuestions: (questions) => {
        return questions.length;
      },
      isMultiQuiz: (elementCount) => {
        return elementCount > 1;
      },
      quizContainerClassAttribute: (isMultiQuiz) => {
        if (isMultiQuiz) {
          return 'q-quiz-multi-container';
        }
        return 'q-quiz-single-container';
      }
    },
    components: {
      Header,
      Question
    }
  };
</script>
