<div class="q-quiz-input">
  <div class="s-font-note-s s-font-note-s--light">
    Klicken Sie auf die gewünschte Stelle auf der Karte, um Ihre Antwort einzugeben.
  </div>
  <div class="q-quiz-map-container" style="height: 300px;"></div>
  <button class="q-quiz-answer-button s-font-note s-color-primary-6" disabled="true">
    <span class="s-color-gray-1">Antworten</span>
  </button>
</div>
<div class="q-quiz-result">
  <div class="q-quiz-map-container" style="height: 300px"></div>
  <p class="q-quiz-result-answer-text s-font-text-s"></p>
</div>
 
