<div class="q-quiz-input">
  {{#each answers as answer}}
  <button class="q-quiz-answer-button q-quiz-answer-button--soft s-font-note s-color-gray-4" value="{{answer}}">
    <span class="s-color-primary-6" style="pointer-events: none;">{{answer}}</span>
  </button>
  {{/each}}
</div>
<div class="q-quiz-result state-hidden">
  <div class="q-quiz-result-visual q-quiz-result-visual--multiple-choice">
    {{#each answers as answer}}
      <div class="q-quiz-result__answer s-font-note">
        <span>{{answer}}</span>
        <div class="q-quiz-result__multiple-choice-bar s-font-note-s"></div>
      </div>
    {{/each}}
  </div>
  <p class="q-quiz-result-answer-text s-font-text-s">
  </p>
</div>

<script>
  export default {
    computed: {
      answers: (question) => {
        let answers = question.choices.concat(question.answer);
        for (let i = answers.length; i; i--) {
          const randomIndex = Math.floor(Math.random() * i);
          const element = answers[i - 1];
          answers[i - 1] = answers[randomIndex];
          answers[randomIndex] = element;
        }
        return answers;
      }
    }
  };  
</script>
