<div class="q-quiz-input">
  <div class="q-quiz-input-range-container">
    <div class="q-quiz-input-range-position-label-container">
      <div
        class="
          q-quiz-input-range-position-label
          s-font-note s-font-note--strong s-font-note--tabularnums
          s-color-primary-7
        "
        style="left: {labelPosition}%; transform: translateX({transformValue}%);"
      >
        {initialValue}
      </div>
    </div>
    <input
      type="range"
      class="s-input-range s-input-range--large"
      min="{question.min}"
      max="{question.max}"
      step="{question.step}"
      value="{initialValue}"
    />
    <div
      class="
        q-quiz-input-range-min
        s-font-note-s s-font-note-s--light
        s-font-note--tabularnums
      "
    >
      {labelMin}
    </div>
    <div
      class="
        q-quiz-input-range-max
        s-font-note-s s-font-note-s--light
        s-font-note--tabularnums
      "
    >
      {labelMax}
    </div>
  </div>
  <button class="s-button s-button--small q-quiz-answer-button">
    <span>Antworten</span>
  </button>
</div>
<div class="q-quiz-result state-hidden">
  <div
    class="q-quiz-result__number-guess-visual"
    unit="{question.unit || ''}"
    unit-singular="{question.unit_singular || ''}"
  ></div>
  <p class="q-quiz-result-answer-text s-font-text-s"></p>
</div>

<script>
  export default {
    computed: {
      initialValue: ({ question }) => {
        if (!question.max || !question.min) {
          return "";
        }
        return (
          (parseFloat(question.max) - parseFloat(question.min)) / 2 +
          parseFloat(question.min)
        );
      },
      labelPosition: ({ initialValue, question }) => {
        if (!initialValue) {
          return 50;
        }
        return (
          ((initialValue - question.min) / (question.max - question.min)) * 100
        );
      },
      labelMin: ({ question }) => {
        let min = question.min !== undefined ? question.min : "";
        let unit = question.unit || "";
        if (parseFloat(min) === 1 && question.unit_singular) {
          unit = question.unit_singular;
        }
        return formatNumber(min) + " " + unit;
      },
      labelMax: ({ question }) => {
        let max = question.max !== undefined ? question.max : "";
        let unit = question.unit || "";
        if (parseFloat(max) === 1 && question.unit_singular) {
          unit = question.unit_singular;
        }
        return formatNumber(max) + " " + unit;
      },
    },
  };

  function formatNumber(number) {
    const quarterSpace = " ";
    const formatter = new Intl.NumberFormat("de-CH");
    const parts = formatter.formatToParts(number);
    const formattedNumber = parts
      .map((part) => (part.type === "group" ? quarterSpace : part.value))
      .join("");

    return formattedNumber;
  }
</script>
