<h3 class="s-font-text">{{#if question.introduction}}{{question.introduction}}{{/if}}</h3>
{{#if question.image && question.image.key}} {{#if width }}
<picture style="position:relative; display:block; padding-bottom:{{ question.image.height / question.image.width * 100 }}%;">
  <source type="image/webp" srcset="{{ question.image.urls.webp1x }} 1x, {{ question.image.urls.webp2x }} 2x">
  <source srcset="{{ question.image.urls.image1x }} 1x, {{ question.image.urls.image2x }} 2x">
  <img class="q-quiz-question-image q-quiz-question-image--responsive" src="{{ question.image.urls.image1x }}" />
</picture>
{{/if}} {{#if question.credit }}
<p class="q-quiz-question-image-credit s-font-note s-font-note--light">
  {{#if question.credit.text }}{{#if question.credit.link.url && question.credit.link.isValid }} (Bild:
  <a href="{{ question.credit.link.url }}" target="blank" rel="noopener noreferrer">{{ question.credit.text }}</a>) {{ else }} (Bild: {{ question.credit.text }}) {{/if}}{{/if}}
</p>
{{/if}} {{ else }}
<picture class="q-quiz-question-image" data-imageServiceUrl="{{imageServiceUrl}}" data-imageKey="{{question.image.key}}"
  style="position:relative; display: block; padding-bottom: {{ question.image.height / question.image.width * 100 }}%;"></picture>
{{/if}} {{#if question.credit }}
<p class="q-quiz-question-image-credit s-font-note s-font-note--light">
  {{#if question.credit.text }}{{#if question.credit.link.url && question.credit.link.isValid }} (Bild:
  <a href="{{ question.credit.link.url }}" target="blank" rel="noopener noreferrer">{{ question.credit.text }}</a>) {{ else }} (Bild: {{ question.credit.text }}) {{/if}}{{/if}}
</p>
{{/if}} {{/if}}
<h3 class="s-q-item__title">{{#if question.question}}{{question.question}}{{/if}}</h3>
<div>
  {{#if isMultipleChoice}}
  <MultipleChoice question="{{question}}" /> {{/if}} {{#if isNumberGuess}}
  <NumberGuess question="{{question}}" /> {{/if}} {{#if isMapPointGuess}}
  <MapPointGuess question="{{question}}" /> {{/if}}
  <div class="s-q-item__footer">
    {{#if question.notes}}
    <div class="s-q-item__footer__notes">
      {{question.notes}}
    </div>
    {{/if}}
  </div>
  <button class="q-quiz-button q-quiz-button--horizontal q-quiz-button--right s-font-note-s state-hidden">
    <div class="q-quiz-button__content">
      <span>nächste Frage</span>
      <div class="q-quiz-button__icon q-quiz-button__icon s-button s-button--small s-button--circular ">
        <svg class="s-button__icon" viewBox="0 0 28 28" width="16" heigth="16" xmlns="http://www.w3.org/2000/svg">
          <g fill="none" fill-rule="evenodd">
            <path fill="currentColor" d="M9.8 22.4l1.4 1.4L21 14l-9.8-9.8-1.4 1.4 8.4 8.4z"></path>
          </g>
        </svg>
      </div>
    </div>
  </button>
</div>

<script>
  import MultipleChoice from './MultipleChoice.html';
  import NumberGuess from './NumberGuess.html';
  import MapPointGuess from './MapPointGuess.html';

  export default {
    computed: {
      isMultipleChoice: (question) => {
        return question.type === 'multipleChoice';
      },
      isNumberGuess: (question) => {
        return question.type === 'numberGuess';
      },
      isMapPointGuess: (question) => {
        return question.type === 'mapPointGuess';
      }
    },
    components: {
      MultipleChoice,
      NumberGuess,
      MapPointGuess
    }
  };
</script>
