<h3 class="s-q-item__title">{{question.question}}</h3>
{{#if question.image}}
  <img src="{{question.image.url}}" />
{{/if}}
<div>
  {{#if isMultipleChoice}}
    <MultipleChoice question="{{question}}" />
  {{/if}}
  {{#if isNumberGuess}}
    <NumberGuess question="{{question}}" />
  {{/if}}
  {{#if isMapPointGuess}}
    <MapPointGuess question="{{question}}" />
  {{/if}}
  <div class="s-q-item__footer">
    {{#if question.notes}}
      <div class="s-q-item__footer__notes">
        {{question.notes}}
      </div>
    {{/if}}
  </div>
  <button class="q-quiz-button q-quiz-button--horizontal q-quiz-button--right s-font-note-s state-hidden">
    <div class="q-quiz-button__content">
      <span>nächste Frage</span>
      <div class="q-quiz-button__icon q-quiz-button__icon s-color-primary-6">
        <svg viewBox="0 0 28 28" xmlns="http://www.w3.org/2000/svg">
          <g fill="none" fill-rule="evenodd">
            <path fill="#FFF" d="M9.8 22.4l1.4 1.4L21 14l-9.8-9.8-1.4 1.4 8.4 8.4z"></path>
          </g>
        </svg>
      </div>
    </div>
  </button>
</div>

<script>
  import MultipleChoice from './MultipleChoice.html';
  import NumberGuess from './NumberGuess.html';
  import MapPointGuess from './MapPointGuess.html';

  export default {
    computed: {
      isMultipleChoice: (question) => {
        return question.type === 'multipleChoice';
      },
      isNumberGuess: (question) => {
        return question.type === 'numberGuess';
      },
      isMapPointGuess: (question) => {
        return question.type === 'mapPointGuess';
      }
    },
    components: {
      MultipleChoice,
      NumberGuess,
      MapPointGuess
    }
  };
</script>
