$basis-margin: 4px;

.q-quiz-answer-chart-min-line,
.q-quiz-answer-chart-max-line {
  stroke-width: 1px;
  stroke: currentColor;
  shape-rendering: crispEdges;
}

.q-quiz-answer-chart-line {
  stroke-width: 1px;
  stroke: currentColor;
  shape-rendering: crispEdges;
}

.q-quiz-answer-chart-line-marker {
  stroke-width: 3px;
  stroke: currentColor;
  shape-rendering: crispEdges;
}

.q-quiz-answer-chart-answerline {
  stroke: currentColor;
  stroke-width: 3px;
  shape-rendering: crispEdges;
}

.q-quiz-answer-chart-answerlabel {
  fill: currentColor;
}

.q-quiz-answer-chart-correctanswerline {
  stroke: black;
  stroke-width: 3px;
  shape-rendering: crispEdges;
}

.q-quiz-answer-chart-correctanswerlabel {
  fill: black;
}

.q-quiz-answer-chart-answerdiffline {
  stroke: #787878;
  stroke-width: 1px;
  shape-rendering: crispEdges;
}

.q-quiz-input-range-container {
  margin-bottom: $basis-margin * 6;
}

.q-quiz-marker-text {
  fill: currentColor;
}
