@import 'variables';

.q-quiz {
  // new stuff
  &-gap-column {
    margin-right: $gap;
    margin-left: $gap;
  }

  &-gap-row {
    margin-bottom: $gap;
  }

  &-gap-row__small {
    margin-bottom: $smallGap;
  }

  // /new stuff

  *,
  *::after,
  *::before {
    box-sizing: inherit;
  }

  opacity: 1 !important;

  position: relative;

  svg {
    overflow: visible;
  }
  line-height: 1;

  p {
    margin-top: 0;
    margin-bottom: 8px;
  }

  overflow: hidden;
}

.q-quiz-container {
  padding: 0 20px;
}

.q-quiz-invalid-input-message {
  text-align: center;
  margin-top: 6px;
  margin-bottom: 6px;
}

// .q-quiz-result {
//   position: relative;
//   opacity: 0;
//   transition: opacity 0.3s ease-in;
//   &.state-visible {
//     opacity: 1;
//   }
//   svg {
//     position: relative;
//     z-index: 1;
//   }
// }

.q-quiz-answer-stats {
  margin-bottom: 8px;
}

.q-quiz-play-another-container {
  border-bottom: 1px solid currentColor;
  margin-top: 32px;
  padding: 14px;
  text-align: center;

  & .q-quiz-play-another-teaser,
  & .q-quiz-play-another-title {
    margin: 0 auto;
  }

  & .q-quiz-play-another-title {
    margin-top: 3px;
  }

  &.q-quiz-play-another-container--separator {
    border-top: 1px solid currentColor;
  }
}

@import './mapStyle';
@import './numberGuess';
@import './q-quiz-multi-header';
@import './q-quiz-multi-container';
@import './cover';
@import './q-quiz-button';
