.q-quiz {
  *,
  *::after,
  *::before {
    box-sizing: inherit;
  }

  opacity: 1 !important;

  position: relative;

  svg {
    overflow: visible;
  }
  line-height: 1;

  p {
    margin-top: 0;
    margin-bottom: 8px;
  }

  overflow: hidden;
}

.q-quiz-header {
  border-bottom: 1px solid currentColor;
  margin-bottom: 16px;
  opacity: 1;
  transition: opacity 0.2s ease-in;
}
.q-quiz-header.q-quiz-header--is-empty {
  border-bottom-color: transparent;
  height: 0;
  margin: 0;
  padding: 0;
  opacity: 0;
}

.q-quiz-input,
.q-quiz-result {
  &.state-hidden {
    visibility: hidden;
    overflow: hidden;
    height: 0;
  }
}

.q-quiz-invalid-input-message {
  text-align: center;
  margin-top: 6px;
  margin-bottom: 6px;
}

.q-quiz-result {
  position: relative;
  opacity: 0;
  transition: opacity 0.3s ease-in;
  &.state-visible {
    opacity: 1;
  }
  svg {
    position: relative;
    z-index: 1;
  }
}

.q-quiz-answer-stats {
  margin-bottom: 8px;
}

.q-quiz-input-range-container {
  position: relative;
  padding-top: 1em;
}

.q-quiz-input-range.disabled {
  opacity: 0.2;
}

.q-quiz-input-range-container::after {
  content: "";
  display: table;
  clear: left;
}

.q-quiz-input-range-min {
  float: left;
  padding-top: 8px;
}

.q-quiz-input-range-max {
  float: right;
  padding-top: 8px;
}

.q-quiz-input-range-position-label-container {
  position: relative;
  margin: 0 14px 9px 14px;
  height: 1em;
}

.q-quiz-input-range-position-label-container--flex {
  display: flex;
  margin-left: 0;
  margin-right: 0;
}

.q-quiz-input-range-position-label {
  position: absolute;
  width: 200px;
  text-align: center;
  transform: translateX(-50%);
}

.q-quiz-input-range-position-label--left-aligned {
  transform: translateX(0);
}

.q-quiz-input-range-position-label--right-aligned {
  transform: translateX(-100%);
}

.q-quiz-question-introduction {
  margin: 0;
  margin-bottom: 8px;
}

.q-quiz-question-image {
  display: block;
  width: 100%;
}

.q-quiz-question-image--responsive {
  position: absolute;
  top: 0;
  left: 0;
}

.q-quiz-question-title {
  margin-top: 8px;
}

.q-quiz-play-another-container {
  border-bottom: 1px solid currentColor;
  margin-top: 32px;
  padding: 14px;
  text-align: center;

  & .q-quiz-play-another-teaser,
  & .q-quiz-play-another-title {
    margin: 0 auto;
  }

  & .q-quiz-play-another-title {
    margin-top: 3px;
  }

  &.q-quiz-play-another-container--separator {
    border-top: 1px solid currentColor;
  }
}

@import "./numberGuess";
@import "./mapPointGuess";
@import "./multipleChoice";
@import "./q-quiz-multi-header";
@import "./q-quiz-multi-container";
@import "./cover";
@import "./q-quiz-button";
