.q-quiz-answer-button {
  width: 100%;
  margin-top: 10px;
  opacity: 1;

  transition: opacity 0.1s ease-out;

  &.state-clicked {
    opacity: 0;
  }
}

.q-quiz-button {
  
  &.q-quiz-button__icon {
    margin: 0 auto;
  }
  
  &:hover {
    text-decoration: none;
  }

  &.state-hidden {
    visibility: hidden;
    overflow: hidden;
    height: 0;
  }
}

.q-quiz-button--horizontal {
  // for all the next question buttons we need this at the moment
  // needs some re-styling in the future to just use links for links in header
  // and circular buttons with text for buttons which have text to the left
  cursor: pointer;
  text-align: center;
  background: none;
  border: none;
  border-spacing: 0;
  margin: 0;
  padding: 0;
  outline: none;
  display: flex;

  .q-quiz-button__content {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
    flex-wrap: nowrap;

    margin-left: auto;

    .q-quiz-button__icon {
      margin: 0 0 0 7px;
    }
  }
}

.q-quiz-button--right {
  margin-left: auto;
}

.q-quiz-button--hidden {
  visibility: hidden;
  pointer-events: none;
}

.q-quiz__cover .q-quiz-button__icon {
  margin-bottom: 7px;
}

.q-quiz__last-card .q-quiz-button__icon {
  margin-top: 12px;
}
