.q-quiz-button {
  .q-quiz-button__icon {
    margin-bottom: 7px;
  }

  &:hover {
    text-decoration: none;
  }

  &.state-hidden {
    visibility: hidden;
    overflow: hidden;
    height: 0;
  }
}

.q-quiz-button--horizontal {
  display: flex;

  .q-quiz-button__content {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
    flex-wrap: nowrap;

    margin-left: auto;

    .q-quiz-button__icon {
      margin: 0 0 0 7px;
    }
  }
}

.q-quiz-button--right {
  margin-left: auto;
}

.q-quiz-button--hidden {
  visibility: hidden;
  pointer-events: none;
}
