.q-quiz__cover {
  background-color: currentColor;
  text-align: center;
  padding: 50px 0 60px 0;

  opacity: 1;
  transition: opacity 0.1s ease-out;

  &.q-quiz-element-container--is-inactive {
    opacity: 0;
  }
}

.q-quiz__cover-title {
  margin-bottom: 30px;
  padding: 0 5px;
}

