.q-quiz-header {

  display: flex;

  justify-content: flex-end;
  align-items: center;

  > * {
    width: 33.3333%;
    flex-grow: 0;
  }

  padding-bottom: 8px;
}

.q-quiz-header__title {
  text-align: center;
}
